.container{
  background-color: rgb(231, 235, 225);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.text{
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}
form input{
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 3px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
form .line1 .dot{
  font-weight: bold;
  font-size: 16px;
}
form input[type='button']:hover{
  background-color: rgb(2, 75, 75);
}
.search{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin: 5px 0px 8px 0px ;
}
.search input{
  text-align: right;
  flex: 1;
  box-shadow: inset 5px 5px 3px teal,inset -5px -5px 3px teal;
  font-size: 35px;
  padding: 3px 10px;
}
form .equal{
  width: 124px;
}